<html>
  <body>
    <h2> Welcome to the Music Library! </h2>
    <h3> Would you like to: </h3>
    <a href="/artists"> View all artists</a>
    <br>
    <a href="/albums"> View all albums</a>
    <br>
    <a href="/artists/new"> Create a new artist</a>
    <br>
    <a href="/albums/new"> Create a new album</a>
  </body>
</html>
