<html>
  <body>
  <h2> Add a new album here: </h2>
  <p></p>
   <form method="POST" action="/albums">
   <label>Title:</label>
   <input type="text" name="title"/>
   <label>Release Year:</label>
   <input type="text" name="release_year"/>
   <label>Artist ID:</label>
   <input type="text" name="artist_id"/>

   <input type="submit" />
   </form>
  </body>
</html>